---
layout: default
---
<header class="header-about">
	{% include navbar.html %}
		<div class="holder">
			<div class="picture">
				<img src="assets/img/about/me/06.jpeg" alt="Nickolas G muscat">
			</div>
			<div class="blurp">
				<h1>Hey, <span class="typed-text-about underline"></span></h1>
				<p>The Founder of <span class="underline">AMM</span> and other small Business which brings a demonstrated history of working in the marketing and advertising industry. Skilled in Entrepreneurship, Public Speaking, Personal Finance, and Information Technology. Strong In business development, IT professional And the owner of blog on <span class="underline">Australian Personal Finance</span> and Entrepreneurship.</p>
			</div>
		</div>
</header>
<section class="story">
	<div class="container">
		<div class="story-holder">
			<p>Being someone who does not come from an affluent family I was made independent at a very young age. I have watched and continue to watch my parents, as well as many others, work tirelessly while barely living with the hope of scraping by in retirement. Life should not be and does not have to be like this.</p>
			<hr>
			<p>So I decided to change this for myself and by creating Aussiemoneyman (AMM), for others also. Started as a simple blog and now expanded onto video as well, my goal is to be able to comfortably retire before 30 using investing, entrepreneurship and a lot of hard work.</p>
			<hr>
			<p>Being heavily interested in finance and entrepreneurship I am sharing my journey and any research I do for myself here in this blog and/or on my YouTube channel which can be found <a target="_base" href="https://www.youtube.com/channel/UCFjdDTZcTHWsBKYw0z5H_6g"><span class="underline">Here</span></a>.
			</p>
			<hr>
			<p>Currently, I have started multiple small businesses including some in eCommerce, written multiple eBooks, made thousands a month in affiliate marketing, invested in the stock market and P2P lending platforms and gained some very valuable mentors. </p>
			<hr>
			<p>In the future, I hope to become completely independent of any employers and work with others to educate in the power of taking control of one's finances.</p>
		</div>
	</div>
</section>
{% include footer.html %}