---
layout: default
---
<header class="contact-header">
	<div class="about-nav">
		{% include navbar.html %}
	</div>
	<div class="container">
		<div class="faq-holder contact-holder">
			<div class="faq-text contact-text">
				<h1> We'd Love to Hear From You! </h1>
				<p>if you have any questions, inquiries, suggestions or offers we'd love to hear from you, you can contact us down below and we will get in touch as soon as possible </p>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>

<section class="contact-form">
	<div class="container">
		<form  action="https://getsimpleform.com/messages?form_api_token=114b7c2f537d2e08bdb0b9d97fff668e" method="post">
		    <p>GET IN TOUCH</p>
		     <input type='hidden' name='redirect_to' value='http://127.0.0.1:4000/thanks' />
		    <div class="login">
				<label>
				    <input type="text" required="required" name="Name" />
				    <span>Name</span>
				<label>
				<label>
				    <input type="text" required="required" name="Email" />
				    <span>Email</span>					
				</label>
				<label>
				    <input type="text" required="required" name="Subject" />
				    <span>Subject</span>					
				</label>
			    <label class="msg">
			      <input type="text" class="area" name="Message"></textarea>
			     <span>message</span>
			    </label>
		    </div>
		    <button class="btn" type="submit"> Send Message </button>
		</form>
	</div>
</section>

{% include footer.html %}
