---
layout: default
---
<header class="header-main">
	{% include navbar.html %}
	<div class="container">
		<div class="content-holder">
			<div class="text-holder">
				<p style="display: none;" class="home-text">{{site.data.index.home.header_catch_phrase_one}}</p>
				<p style="display: none;" class="home-text-2">{{site.data.index.home.header_catch_phrase_two}}</p>
				<h1><span class="typed-text"></span></h1>
				<p>{{site.data.index.home.header_paragraph}}</p>
				<button data-video-id='YRG-gSHpdrM' class="js-video-button video-launch video-play-button"> <span></span></button>
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</header>
<section class="about-me">
	<div class="container">
		<div class="about-holder">
			<div class="pic-holder">
				<div class="shape-img-1"></div>
				<div class="shape-img-2"></div>
				<img src="./assets/img/about/1.jpeg" alt="Nickolas Muscat">
			</div>
			<div class="about-text-holder">
			  <div class="info-1">
                  <div class="text-info">
                     <span class="upper-title">powerful strategies awaits you.</span>
                     <h2><span class="underline">Nicholas Muscat</span>, Founder & CEO.</h2>
                     <p class="sub-p">Founding small Business which brings a demonstrated history of working in the marketing and advertising industry</p>
                  </div>
                   <ul class="component-me">
                     <li data-tilt>
                        <i class="fas fa-money-bill-wave icon-money"></i>
                         <div class="sub-info" >
                            <span>General Finance</span>
                            <p>High-speed internet with over 99% reliability, so you can do stream, and download worry-free all the time 24/7.</p>
                         </div>
                     </li>
                    <li data-tilt >
                        <i class="fas fa-globe-americas icon-global"></i>
                        <div class="sub-info">
                           <span>International Finance</span>
                           <p>The simple-to-use Flura Smart Home Manager app easily manages and monitors your home Wi-Fi network</p>                        
                        </div>
                   </li>
                   </ul>
                   <ul class="component-me second">
                      <li data-tilt >
                        <i class="fas fa-university icon-bank"></i>
                        <div class="sub-info">
                           <span>Money Saving</span>
                           <p>A Wi-Fi gateway is included at no additional charge, so you can wirelessly connect all your mobile devices in your home!</p>                        
                        </div>
                   </li>
                     <li data-tilt >
                        <i class="fas fa-info icon-info"></i>
                        <div class="sub-info">
                            <span> Unbiased Informations</span>
                            <p>We’ll help protect all your devices and information, you can wirelessly you can wirelessly at no extra cost .</p>                        
                        </div>
                   </li>
                   </ul>
                </div>
			</div>	
		</div>	
	</div>
</section>

<section class="showcase">
	<div class="container">
		<div class="showcase-text">
			<h1>I Started <span class="underline">Aussiemoneyman</span> with the mission  </h1>
			<h1>of helping others to achive comfortable life</h1>
			<p class="first"> Nothing upsets me more than to see people working hard every day and . </p>
			<p>not ever achieving financial freedom due only to a lack of education in the field</p>
		</div>
		<div class="item-all">
			<div class="item-set-1">
				<div class="item">
					<i class="fas fa-university"></i>
					<h3>Investment</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
				<div class="item">
					<i class="fas fa-file-invoice-dollar"></i>
					<h3>Taxation</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
				<div class="item">
					<i class="fas fa-hand-holding-usd"></i>
					<h3>Wealth Creation</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
			</div>
			<div class="item-set-2">
				<div class="item">
					<i class="fas fa-user-tie"></i>
					<h3>General Business</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
				<div class="item">
					<i class="fas fa-search-dollar"></i>
					<h3>Marketing</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
				<div class="item">
					<i class="fab fa-studiovinari"></i>
					<h3>Financial Freedom</h3>
					<p>Nice one matie boy burke hanky panky A bit of how's your father blower boot it's.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- stats -->
<section class="stats">
	<div class="overlay-stats"></div>
	<div class="container">
		<div class="stats-holder">
			<div class="stats-numbers">
				<div class="stats-n-1">
					<h1>94%</h1>
					<p>Business Increase</p>
				</div>
				<div class="stats-n-2">
					<h1 class="countup" data-count="244">224</h1>
					<p>People Helped</p>
				</div>
			</div>
			<div class="stats-info">
				<p>The Difference</p>
				<h3>AMM, True Busniess<br> And Financial Freedom </h3>
				<button>Learn More</button>
			</div>
		</div>
	</div>
</section>



<!-- TIMELINE SECTION -->
<section class="testimonials">
	 <h1>What Our Clients Say About Us</h1>
	 <p class="first">xford burke smashing blower me old mucker plastered spiffing </p>
	 <p class="first">good time hotpot chip shop squiffy.</p>
      <div class="container">
        <div class="main-row">          
        <ul class="timeline">
          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-4"><span>19 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Working With Nick is one of the highlights of my career</h3>                  
                  <p>Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. The plans you refer to will soon be back in our hands. A tremor in the Force. The last time I felt it was in the presence of my old master. Escape is not his plan. I must face him. Alone.</p>
                </div>
              </div>
            </div>
          </li>


          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-2"><span>15 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>AMM helped me a lot throughout My Entrepreneurship Journey  </h3>
                  <p>It's not that we're afraid, far from it, it's just that we've got this thing about death... It's not us! I'm a mog: half man, half dog. I'm my own best friend! The minute we move in they're gonna spot us on their radar. Whoa, hold it, time. Chief... I can't... I can't go any further. I can't go any further. </p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-7"><span>14 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Most Ambitious of All!</h3>
                  <p>Artoo says that the chances of survival are 725 to 1. Actually Artoo has been known to make mistakes... from time to time... Oh dear...The odds of successfully surviving an attack on an Imperial Star Destroyer are approximately... Sir, it's quite possible this asteroid is not entirely stable. Oh. They've encased him in Carbonite. He should be quite well protected. If he survived the freezing process, that is. If I may say so, sir, I noticed earlier the hyperdrive motivator has been damaged. It's impossible to go to lightspeed. Stupid little short-circuit! He'll be *quite* all right. </p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-8"><span>12 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Aussiemoneyman had a Major Impact on our Workflow</h3>
                  <p>Can we talk? OK, we all know Prince Valium is a pill. But you could have married him for your father's sake and had a headache for the next 25 years. Well, goodbye virgin alarm. Besides he got a sexy voice. He might be cute. Hey wait, you forgot to get married! And if we go over our pagecount, the network will kill us. You know, you've got a very unique voice. You should be in silent films.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </div>
  </section>


<!-- Featured Media  -->
<section class="media">
	<div class="container">
		<div class="media-outlets">
		<h1>Was Featured On</h1>
			<div class="media-1">
				<img src="./assets/img/about/3.png" alt="Media Outlet">
				<img src="./assets/img/about/4.png" alt="Media Outlet">
				<img src="./assets/img/about/5.png" alt="Media Outlet">
				<img src="./assets/img/about/6.png" alt="Media Outlet">
				<img src="./assets/img/about/7.png" alt="Media Outlet">
			</div>
			<div class="media-2">
				<img src="./assets/img/about/8.png" alt="Media Outlet">
				<img src="./assets/img/about/9.png" alt="Media Outlet">
				<img src="./assets/img/about/10.png" alt="Media Outlet">
				<img src="./assets/img/about/11.png" alt="Media Outlet">
				<img src="./assets/img/about/12.png" alt="Media Outlet">
			</div>
		</div>
	</div>
</section>


<!-- Footer -->

{% include footer.html %}





