---
layout: default
---
<header class="header-main">
	{% include navbar.html %}
	<div class="container">
		<div class="content-holder">
			<div class="text-holder">
				<p style="display: none;" class="home-text">{{site.data.index.home.header_catch_phrase_one}}</p>
				<p style="display: none;" class="home-text-2">{{site.data.index.home.header_catch_phrase_two}}</p>
				<h1><span class="typed-text"></span></h1>
				<p>{{site.data.index.home.header_paragraph}}</p>
				<a target="_base" href="{{site.data.index.home.header_button_link}}"  class="play-3 video-play-button"> <span></span></a>
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</header>
<!-- Featured Media  -->
<section class="media">
  <div class="container">
    <div class="media-outlets">
    <h1 class="headtitle">As Seen On</h1>
      <div class="media-1">
        <img src="./assets/img/about/3.png" alt="Media Outlet">
        <img src="./assets/img/about/4.png" alt="Media Outlet">
        <img src="./assets/img/about/5.png" alt="Media Outlet">
        <img src="./assets/img/about/6.png" alt="Media Outlet">
        <img src="./assets/img/about/7.png" alt="Media Outlet">
      </div>
      <div class="media-2">
        <img src="./assets/img/about/8.png" alt="Media Outlet">
        <img src="./assets/img/about/9.png" alt="Media Outlet">
        <img src="./assets/img/about/10.png" alt="Media Outlet">
        <img src="./assets/img/about/11.png" alt="Media Outlet">
        <img src="./assets/img/about/12.png" alt="Media Outlet">
      </div>
    </div>
  </div>
</section>
<section class="about-me">
		<div class="about-holder">
			<div class="pic-holder">
				<img class="featured-img" src="./assets/img/about/me/main.png" alt="Nickolas Muscat">
			</div>
			<div class="about-text-holder">
            <div class="info-1">
              <div class="text-info">
                   <span class="upper-title"> 
                      {{ site.data.index.about.about_title_one }}
                   </span>
                   <h2>
                      {{ site.data.index.about.about_heading }}
                   </h2>
                   <p class="sub-p">
                    {{ site.data.index.about.about_paragraph}}                      
                   </p>
                    <ul>
                       <li>
                        <span>{{ site.data.index.about.about_point_1}}</span>
                          <p>{{ site.data.index.about.about_point_1_p}}</p>
                       </li>
                       <li>
                        <span>{{ site.data.index.about.about_point_2}}</span>
                          <p>{{ site.data.index.about.about_point_2_p}}</p>
                      </li>
                       <li>
                        <span>{{ site.data.index.about.about_point_3}}</span>
                          <p>{{ site.data.index.about.about_point_3_p}}</p>
                     </li>
                       <li>
                         <span>{{ site.data.index.about.about_point_4}}</span>
                          <p>{{ site.data.index.about.about_point_4_p}}</p>
                       </li>
                    </ul>         
               </div>
            </div>
			</div>	
		</div>	
</section>

<section class="values">
    <h1> {{site.data.index.about.about_heading_box}} </h1>
    <div class="container">
            <div class="info-1">
               <ul class="component-me">
                 <li>
                    <i class="fas fa-money-bill-wave icon-money"></i>
                     <div class="sub-info" >
                        <span>
                      {{ site.data.index.about.about_box_one_title }}
                          
                        </span>
                        <p>
                      {{ site.data.index.about.about_box_one_p }}
                          
                        </p>
                     </div>
                 </li>
                <li>
                    <i class="fas fa-globe-americas icon-global"></i>
                    <div class="sub-info">
                   <span>
                      {{ site.data.index.about.about_box_two_title }}
                          
                        </span>
                        <p>
                      {{ site.data.index.about.about_box_two_p }}
                          
                        </p>                
                    </div>
               </li>
               </ul>
               <ul class="component-me second">
                  <li>
                    <i class="fas fa-university icon-bank"></i>
                    <div class="sub-info">
                     <span>
                      {{ site.data.index.about.about_box_three_title }}
                          
                        </span>
                        <p>
                      {{ site.data.index.about.about_box_three_p }}
                          
                    </div>
               </li>
                 <li>
                    <i class="fas fa-info icon-info"></i>
                    <div class="sub-info">
                    <span>
                      {{ site.data.index.about.about_box_four_title }}
                          
                        </span>
                        <p>
                      {{ site.data.index.about.about_box_four_p }}
                          
                        </p>                        
                    </div>
               </li>
               <li>
                    <i class="fas fa-check icon-info"></i>
                    <div class="sub-info">
                    <span>
                      {{ site.data.index.about.about_box_five_title }}
                          
                        </span>
                        <p>
                      {{ site.data.index.about.about_box_five_p }}
                        </p>                        
                    </div>
               </li>
               </ul>
            </div>
    </div>
</section>

<section class="showcase">
	<div class="container">
		<div class="showcase-text">
			<div class="showcase-heading">
	     {{ site.data.index.showcase.showcase_heading }}			
			</div>
			<p class="first">{{site.data.index.showcase.showcase_p}}</p>
		</div>
		<div class="item-all">
			<div class="item-set-1">
				<div class="item">
					<i class="fas fa-university"></i>
					<h3>{{ site.data.index.showcase.item_1_title }}</h3>
					<p>{{ site.data.index.showcase.item_1_p }}</p>
				</div>
				<div class="item">
					<i class="fas fa-file-invoice-dollar"></i>
					<h3>{{ site.data.index.showcase.item_2_title }}</h3>
					<p>{{ site.data.index.showcase.item_2_p }}</p>
				</div>
				<div class="item">
					<i class="fas fa-hand-holding-usd"></i>
					<h3>{{ site.data.index.showcase.item_3_title }}</h3>
					<p>{{ site.data.index.showcase.item_3_p }}</p>
				</div>
			</div>
      <div class="item-set-2">
        <div class="item">
          <i class="fas fa-user-tie"></i>
          <h3>{{ site.data.index.showcase.item_4_title }}</h3>
          <p>{{ site.data.index.showcase.item_4_p }}</p>
        </div>
        <div class="item">
          <i class="fas fa-search-dollar"></i>
          <h3>{{ site.data.index.showcase.item_5_title }}</h3>
          <p>{{ site.data.index.showcase.item_5_p }}</p>
        </div>
        <div class="item">
          <i class="fab fa-studiovinari"></i>
          <h3>{{ site.data.index.showcase.item_6_title }}</h3>
          <p>{{ site.data.index.showcase.item_6_p }}</p>
        </div>      
      </div>
      			<div class="item-set-2">
				<div class="item">
					<i class="fas fa-user-tie"></i>
					<h3>{{ site.data.index.showcase.item_7_title }}</h3>
					<p>{{ site.data.index.showcase.item_7_p }}</p>
				</div>
				<div class="item">
					<i class="fas fa-search-dollar"></i>
					<h3>{{ site.data.index.showcase.item_8_title }}</h3>
					<p>{{ site.data.index.showcase.item_8_p }}</p>
				</div>
				<div class="item">
					<i class="fab fa-studiovinari"></i>
					<h3>{{ site.data.index.showcase.item_9_title }}</h3>
					<p>{{ site.data.index.showcase.item_9_p }}</p>
				</div>			
      </div>

		</div>
	</div>
</section>

<!-- stats -->
<section class="stats">
	<div class="overlay-stats"></div>
	<div class="container">
		<div class="stats-holder">
			<div class="stats-numbers">
				<div class="stats-n-1">
					<h1>{{ site.data.index.stats.percent }}</h1>
					<p>{{ site.data.index.stats.stat_p }}</p>
				</div>
				<div class="stats-n-2">
					<h1 class="countup" data-count="{{ site.data.index.stats.people }}">{{ site.data.index.stats.people }}</h1>
					<p>{{ site.data.index.stats.people_txt }}</p>
				</div>
			</div>
			<div class="stats-info">
				<p>{{ site.data.index.stats.smallHeading }}</p>
				<h3> {{ site.data.index.stats.phrase }} </h3>
				<button>{{ site.data.index.stats.btn }}</button>
			</div>
		</div>
	</div>
</section>



<!-- TIMELINE SECTION -->
<section class="testimonials">
	 <h1> {{site.data.index.clients.c_heading}} </h1>
	 <div class="para">
		{{site.data.index.clients.c_para}}	
	 </div>
      <div class="container">
        <div class="main-row">          
        <ul class="timeline">
          
          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-4" style="background:url('{{site.url}}/{{ site.data.index.clients.c_1_img }}') center center " ><span>{{site.data.index.clients.c_1_date}}</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>{{site.data.index.clients.c_1_heading}}</h3>                  
                  <p>{{site.data.index.clients.c_1_paragraph}}</p>
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-4" style="background:url('{{site.url}}/{{ site.data.index.clients.c_2_img }}') center center " ><span>{{site.data.index.clients.c_2_date}}</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>{{site.data.index.clients.c_2_heading}}</h3>                  
                  <p>{{site.data.index.clients.c_2_paragraph}}</p>
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-4" style="background:url('{{site.url}}/{{ site.data.index.clients.c_3_img }}') center center " ><span>{{site.data.index.clients.c_3_date}}</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>{{site.data.index.clients.c_3_heading}}</h3>                  
                  <p>{{site.data.index.clients.c_3_paragraph}}</p>
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-4" style="background:url('{{site.url}}/{{ site.data.index.clients.c_4_img }}') center center " ><span>{{site.data.index.clients.c_4_date}}</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>{{site.data.index.clients.c_4_heading}}</h3>                  
                  <p>{{site.data.index.clients.c_4_paragraph}}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </div>
  </section>



<!-- Footer -->

{% include footer.html %}





