---
layout: default
---
<header class="faq-header rec-header">
	<div class="about-nav">
		{% include navbar.html %}
	</div>
	<div class="container">
		<div class="faq-holder rec-holder">
			<div class="faq-text rec-text">
				<h1> {{site.data.rec.rec.header_h1}} </h1>
				<p>{{site.data.rec.rec.header_p}} </p>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>
<section class="rec">
	<div class="main-heading">
		<h1>{{site.data.rec.rec.main_h1}}</h1>
		<p>{{site.data.rec.rec.main_p}}</p>
	</div>
	<div class="container">
		      <div class="info-2">
		      		{{ site.data.rec.rec.body }}
              </div>
	</div>
</section>

{% include footer.html %}
