---
layout: default
---
<header class="faq-header rec-header">
	<div class="about-nav">
		{% include navbar.html %}
	</div>
	<div class="container">
		<div class="faq-holder rec-holder">
			<div class="faq-text rec-text">
				<h1> {{site.data.rec.rec.header_h1}} </h1>
				<p>{{site.data.rec.rec.header_p}} </p>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>
<section class="rec">
	<div class="main-heading">
		<h1>{{site.data.rec.rec.main_h1}}</h1>
		<p>{{site.data.rec.rec.main_p}}</p>
	</div>
	<div class="container">
		      <div class="info-2">
					 <div class="rec-holder">
	                     <h1> {{site.data.rec.first.rec_1_h1}} </h1>
	                     <ol>
	                      <li>
	                      	<span><a href=" {{site.data.rec.first.rec_1_item_1_link}} "> {{site.data.rec.first.rec_1_item_1_a}} </a></span>
	                      	<p> {{site.data.rec.first.rec_1_item_1_p}} </p>

	                      </li>
	                      <li>
	                      	<span><a href=" {{site.data.rec.first.rec_1_item_2_link}} "> {{site.data.rec.first.rec_1_item_2_a}} </a></span>
	                      	<p> {{site.data.rec.first.rec_1_item_2_p}} </p>
	                      </li>                      
	                      
	                      <li>
	                      	<span><a href=" {{site.data.rec.first.rec_1_item_3_link}} "> {{site.data.rec.first.rec_1_item_3_a}} </a></span>
	                      	<p> {{site.data.rec.first.rec_1_item_3_p}} </p>
	                      </li> 
	                      <li>
	                      	<span><a href=" {{site.data.rec.first.rec_1_item_4_link}} "> {{site.data.rec.first.rec_1_item_4_a}} </a></span>
	                      	<p> {{site.data.rec.first.rec_1_item_4_p}} </p>
	                      </li>                      
	                     </ol>
					 </div>

					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_2_h1}} </h1>
	                     <ol>
	                      <li>
	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_2_item_1_link}} "> {{site.data.rec.rec.rec_2_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_2_item_1_p }} </p>

	                      </li>
	                      <li>
	                      	<span><a href=" {{site.data.rec.rec.rec_2_item_2_link}} "> {{site.data.rec.rec.rec_2_item_2_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_2_item_2_p }} </p>
	                      </li>                                          
					 </div>
					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_3_h1}} </h1>
	                     <ol>
	                      <li>
	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_3_item_1_link}} "> {{site.data.rec.rec.rec_3_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_3_item_1_p }} </p>

	                      </li>
					 </div>

					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_4_h1}} </h1>
	                     <ol>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_4_item_1_link}} "> {{site.data.rec.rec.rec_4_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_4_item_1_p }} </p>
	                      </li>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_4_item_2_link}} "> {{site.data.rec.rec.rec_4_item_2_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_4_item_2_p }} </p>
	                      </li>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_4_item_3_link}} "> {{site.data.rec.rec.rec_4_item_3_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_4_item_3_p }} </p>
	                      </li>
					 </div>
					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_5_h1}} </h1>
	                     <ol>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_5_item_1_link}} "> {{site.data.rec.rec.rec_5_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_5_item_1_p }} </p>
	                      </li>
					 </div>
					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_6_h1}} </h1>
	                     <ol>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_6_item_1_link}} "> {{site.data.rec.rec.rec_6_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_6_item_1_p }} </p>
	                      </li>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_6_item_2_link}} "> {{site.data.rec.rec.rec_6_item_2_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_6_item_2_p }} </p>
	                      </li>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_6_item_3_link}} "> {{site.data.rec.rec.rec_6_item_3_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_6_item_3_p }} </p>
	                      </li>
					 </div>
					  <div class="rec-holder">
	                     <h1> {{site.data.rec.rec.rec_7_h1}} </h1>
	                     <ol>
	                      <li>	                      
	                      	<span><a href=" {{site.data.rec.rec.rec_7_item_1_link}} "> {{site.data.rec.rec.rec_7_item_1_a}} </a></span>
	                      	<p> {{ site.data.rec.rec.rec_7_item_1_p }} </p>
	                      </li>
					 </div>
              </div>
	</div>
</section>

{% include footer.html %}