---
layout: default
---
<header class=" services-header">
	<div class="about-nav">
		{% include navbar.html %}
	</div>
	<div class="container">
		<div class="faq-holder services-holder">
			<div class="faq-text services-text">
				<h1> {{site.data.services.serv.header_h1}} </h1>
				<p> {{site.data.services.serv.header_p}} </p>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>

<section class="services">
	<div class="container">
		<div class="main-heading">
			<h1> {{site.data.services.serv.main_h1}} </h1>
			<p> {{site.data.services.serv.main_p}} </p>
		</div>
	</div>
</section>

<section class="services-row">
	<div class="pop-up-serv pop-1">
		<h1>How AMM was started</h1>
		<p>we review and compare various financial products and services
		so you can make the best decsions for you and your money. Some examples include, P2P 
		Platforms, Mico-investing apps and brokers. If you have a reccomendation you can contact
		us by clicking the button below.</p>
		<button> <a href="/contact">Contact Us</a></button>
		<i class="fas fa-times close-popup"></i>
	</div>
	<div class="box-first">
		<div class="container">
			<div class="container-box">
				<span> {{site.data.services.serv.box_1_small_span}} </span>
				<h1> {{site.data.services.serv.box_1_h1}} </h1>
				<p> {{ site.data.services.serv.box_1_p }} </p>
				<button class="pop-1-btn services-btn">Learn More</button>
			</div>
		</div>
	</div>
	<div class="img">
		<div style="background: url('assets/img/services/02.jpg');" class="img-holder"></div>
	</div>
</section>
<section class="services-row">
	<div class="pop-up-serv pop-2">
		<h1>Speaking Events</h1>
		<p>Should you wish to have Nicholas speak at an event whether it be on Finance, personal
development or something more specfic, you can request such by clicking the button below.</p>
		<button> <a href="/contact">Contact Us</a></button>
		<i class="fas fa-times close-popup"></i>
	</div>
	<div class="img">
		<div  style="background: url('assets/img/services/04.jpg');" class="img-holder"></div>
	</div>
	<div class="box-first">
		<div class="container">
			<div class="container-box">
				<span> {{site.data.services.serv.box_2_small_span}} </span>
				<h1> {{site.data.services.serv.box_2_h1}} </h1>
				<p> {{ site.data.services.serv.box_2_p }} </p>
				<button class="pop-2-btn services-btn">Learn More</button>
			</div>
		</div>
	</div>
</section>

<section class="services-row">
	<div class="pop-up-serv pop-3">
		<h1>School Courses in partnership with BOP Industries</h1>
		<p>BOP Industries and AMM have partnered up to make a life changing course. 
More to come soon.
!</p>
		<button> <a href="/contact">Contact Us</a></button>
		<i class="fas fa-times close-popup"></i>
	</div>	
	<div class="box-first">
		<div class="container">
			<div class="container-box">
				<span> {{site.data.services.serv.box_3_small_span}} </span>
				<h1> {{site.data.services.serv.box_3_h1}} </h1>
				<p> {{ site.data.services.serv.box_3_p }} </p>
				<button class="pop-3-btn services-btn">Learn More</button>
			</div>
		</div>
	</div>
	<div class="img">
		<div  style="background: url('assets/img/services/06.jpg');" class="img-holder"></div>
	</div>
</section>
<section class="services-row last-row">
	<div class="pop-up-serv pop-4">
		<h1>Recommendations for general money making</h1>
		<p>One of AMM's main difference is that we don't just share ways to save and invest
money but also make it! We share real, efficent and doable ways to make money that
we use.</p>
		<button> <a href="/contact">Contact Us</a></button>
		<i class="fas fa-times close-popup"></i>
	</div>	

	<div class="img">
		<div  style="background: url('assets/img/services/03.jpg');" class="img-holder"></div>
	</div>
	<div class="box-first">
		<div class="container">
			<div class="container-box">
				<span> {{site.data.services.serv.box_4_small_span}} </span>
				<h1> {{site.data.services.serv.box_4_h1}} </h1>
				<p> {{ site.data.services.serv.box_4_p }} </p>
				<button class="pop-4-btn services-btn">Learn More</button>
			</div>
		</div>
	</div>
</section>
<section class="services-2">
	<div class="box-container-2">
		<h1> {{site.data.services.serv.sub_heading}} </h1>
	</div>
	<div class="conxtainer">
		<div class="services-box-holder" style="position: relative";>
			<div class="services-item">
				<div class="pop-up-serv pop-5">
					<h1>Affiliate Marketing</h1>
					<p>We have built affilate incomes to 10,000+ and know the tricks of the trade.</p>
					<button> <a href="/contact">Contact Us</a></button>
					<i class="fas fa-times close-popup"></i>
				</div>

				<i class="fas fa-search-dollar"></i>
				<h2>{{site.data.services.serv.sub_h1_1}}</h2>
				<p>{{site.data.services.serv.sub_p_1}}</p>
				<button class="popa pop-5-btn">Learn More</button>
			</div>			
			<div class="services-item">
					<div class="pop-up-serv pop-6">
					<h1>eCommerce</h1>
					<p>LorBuilding, running, scaling and selling eCommerce bussinsess we have done it all.</p>
					<button> <a href="/contact">Contact Us</a></button>
					<i class="fas fa-times close-popup"></i>
				</div>

				<i class="fas fa-shopping-cart"></i>
				<h2>{{site.data.services.serv.sub_h1_2}}</h2>
				<p>{{site.data.services.serv.sub_p_2}}</p>
				<button class="popa pop-6-btn">Learn More</button>
			</div>			
			<div class="services-item">
						<div class="pop-up-serv pop-7">
						<h1>YouTube</h1>
						<p>Finding your niche, video tricks, playlists, editing, we know the guy.</p>
						<button> <a href="/contact">Contact Us</a></button>
						<i class="fas fa-times close-popup"></i>
					</div>
				<i class="fab fa-youtube"></i>
				<h2>{{site.data.services.serv.sub_h1_3}}</h2>
				<p>{{site.data.services.serv.sub_p_3}}</p>
				<button class="popa pop-7-btn">Learn More</button>
			</div>			
			<div class="services-item">
					<div class="pop-up-serv pop-8">
						<h1>Blogging</h1>
						<p>Today, blogging is much more difficult than before, you will need to use new methods
						if you want to succeed and we know them all.</p>
						<button> <a href="/contact">Contact Us</a></button>
						<i class="fas fa-times close-popup"></i>
					</div>
				<i class="fas fa-rss"></i>
				<h2>{{site.data.services.serv.sub_h1_4}}</h2>
				<p>{{site.data.services.serv.sub_p_4}}</p>
				<button class="popa pop-8-btn">Learn More</button>
			</div>			
		</div>
	</div>
</section>
{% include footer.html %}