---
layout: default
---
<header class="faq-header books-header">
	<div class="about-nav">
		{% include navbar.html %}
	</div>
	<div class="container">
		<div class="faq-holder books-holder">
			<div class="faq-text books-text">
				<h1> {{site.data.bookone.book.header_h1}} </h1>
				<p>{{site.data.bookone.book.header_p}}  </p>
				<button>Download Now!</button>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>

<section class="book-all">
		<div class="container">
			<div class="main-heading">
				<h1>{{site.data.bookone.book.main_heading}} </h1>
				<p>{{site.data.bookone.book.main_p}} </p>
			</div>
		</div>
</section>

<section class="faq col-2 color ss-style-curvedown">
	<div class="container">
		<h1 style="font-size:2.3em;">About The book</h1>
	<div class='faq-content'>
			<div class="accordion js-accordion active">
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">{{site.data.bookone.book.bookone_q1}} </div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			      {{site.data.bookone.book.bookone_a1}}
			    </div>
			    </div
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">{{site.data.bookone.book.bookone_q2}}</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					{{site.data.bookone.book.bookone_a2}}
			    </div>
			      <div class="accordion js-accordion">
			        <div class="accordion__item js-accordion-item">
			           <div class="accordion-body js-accordion-body">
			           </div><!-- end of sub accordion item body -->
			        </div><!-- end of sub accordion item -->
			        <div class="accordion__item js-accordion-item">
			           <div class="accordion-body js-accordion-body">
			           </div><!-- end of sub accordion item body -->
			        </div><!-- end of sub accordion item -->
			      </div><!-- end of sub accordion -->
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			    <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">{{site.data.bookone.book.bookone_q3}}</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			      {{site.data.bookone.book.bookone_a3}}
			    </div>
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			     <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">{{site.data.bookone.book.bookone_q4}}</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			              {{site.data.bookone.book.bookone_a4}}
			    </div>
			      <div class="accordion js-accordion">
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
		</div>
	  <div class="accordion__item js-accordion-item">
			  <a class="link" target="_base" href="/about-us">Learn About AMM</a>
		</div>
</section>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>

<section class="download">
	<h1>People Downloading Our Book</h1>
	<div class="container">
			<div class="downloadCount">
				  <div id="odometer" class="some-element"></div>
			</div>
			<section style="margin-top:20%" class="contact-form books-form">
				<form method="post" action="https://getsimpleform.com/messages?form_api_token=731f7d991bae591cf101f92b2138473b">
				    <div class="login">
				    	  <input type='hidden' name='redirect_to' value='{{site.data.bookone.book.bookonelink}}' />
						<label>
						    <input type="email" name="email" required="required"/>
						    <span>Email</span>
						<label>
				    </div>
				    <button class="btn" type="submit"> Download Now </button>
				</form>
			</section>
	</div>
</section>





{% include footer.html %}

<script src="https://github.hubspot.com/odometer/odometer.js"></script>

<script>

	var requestsInterval = 5 * 1000; //5 seconds
	var current = 1000;
	var increment = 3;
	var el = document.querySelector('.some-element');
	od = new Odometer({el: el, value: current, format: 'd'});

	var interval=setInterval(function(){
	  current += increment;
	  od.update(current);
	}, requestsInterval);

</script>
