<footer>
	<div class="container">
<section class="download">
	<h1>Youtube Subscribers</h1>
	<div class="container">
			<div class="downloadCount">
				  <span style="display: none" class="numberx">{{site.data.footer.footer.subs}}</span>
				  <div id="odometer" class="some-element"></div>
			</div>
	</div>
</section>

		<div class="downloadCount subs">
			    <h1>Aussie Money Man</h1>
			    <a class="sub" target="_base" href="https://www.youtube.com/channel/UCFjdDTZcTHWsBKYw0z5H_6g"> Subscribe Now! </a> <br><br><br>


		</div>
	</div>
	<div class="first-section">
		<div class="contact-holder">
			<div class="contact-item">
				<i class="fas fa-phone-volume"></i>
				<p>You Can Call Us Today:</p>
				<p>{{ site.data.footer.footer.p_1 }}</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-envelope"></i>
				<p>Business Email:</p>
				<p>{{ site.data.footer.footer.p_2 }}</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-hashtag"></i>
				<p>On Social Media</p>
				<p>
					<a href="{{ site.data.footer.footer.link_yt }}"><i class="fab fa-youtube"></i></a>
					<a href="{{ site.data.footer.footer.link_ins }}"><i class="fab fa-instagram"></i></a>
					<a href="{{ site.data.footer.footer.link_fb }}"><i class="fab fa-facebook-square"></i></a>
					<a href="{{ site.data.footer.footer.link_pin }}"><i class="fab fa-pinterest"></i></a>
				</p>				
			</div>
		</div>
	</div>
	<div class="second-section">
		<div class="container">
			<div class="copyrights">
				<p> {{site.data.footer.footer.disclaimer}} </p>				
				<p> {{site.data.footer.footer.copyrights}} </p>
			</div>
		</div>
	</div>
</footer>

<script src="https://github.hubspot.com/odometer/odometer.js"></script>

<script>
	if(document.querySelector('.books-form')){
		document.querySelector('footer .container').remove()
	}
	var requestsInterval = 5 * 1000; //5 seconds
	var current = Number(document.querySelector('.numberx').textContent);
	var increment = 3;
	var el = document.querySelector('.some-element');
	od = new Odometer({el: el, value: current, format: 'd'});

	var interval=setInterval(function(){
	  current += increment;
	  od.update(current);
	}, requestsInterval);

</script>

 <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=525e5c629fefe' async='true'></script> 
