<footer>
	<div class="container">
		<div class="downloadCount subs">
			    <h1>Aussie Money Man</h1>
			    <h3>Youtube Subscribers</h3>
			    <div class="odometer" class="odometer footer-od" id="odometer">0</div>
		</div>
	</div>
	<div class="first-section">
		<div class="contact-holder">
			<div class="contact-item">
				<i class="fas fa-phone-volume"></i>
				<p>You Can Call Us Today:</p>
				<p>+ 61 422 375 536</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-envelope"></i>
				<p>Business Email:</p>
				<p>aussiemoneymanblog@gmail.com</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-hashtag"></i>
				<p>On Social Media</p>
				<p>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-facebook-square"></i></a>
					<a href="#"><i class="fab fa-pinterest"></i></a>
				</p>				
			</div>
		</div>
	</div>
	<div class="second-section">
		<div class="container">
			<div class="copyrights">
				<p>All information is provided in faith that it is accurate and reliable. However, it is to be noted I am NOT a financial adviser and information given is purely my opinion on discussed matters. It is always recommended you speak to a financial adviser before making any financial decisions you may not be sure of.</p>				
				<p>All rights Reserved ©2019 By Aussiemoneyman | ABN: 59 429 454 708</p>
			</div>
		</div>
	</div>
</footer>