<footer>
	<div class="container">
		<div class="downloadCount subs">
			    <h1>Aussie Money Man</h1>
			    <h3>Youtube Subscribers</h3>
			    <a class="sub" target="_base" href="https://www.youtube.com/channel/UCFjdDTZcTHWsBKYw0z5H_6g"> Subscribe Now! </a> <br><br><br>
			    <div  class="x footer-od" id="x"><h1 style="font-size:6em">3.1K</h1></div>
		</div>
	</div>
	<div class="first-section">
		<div class="contact-holder">
			<div class="contact-item">
				<i class="fas fa-phone-volume"></i>
				<p>You Can Call Us Today:</p>
				<p>{{ site.data.footer.footer.p_1 }}</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-envelope"></i>
				<p>Business Email:</p>
				<p>{{ site.data.footer.footer.p_2 }}</p>
			</div>
			<div class="contact-item">
				<i class="fas fa-hashtag"></i>
				<p>On Social Media</p>
				<p>
					<a href="{{ site.data.footer.footer.link_yt }}"><i class="fab fa-youtube"></i></a>
					<a href="{{ site.data.footer.footer.link_ins }}"><i class="fab fa-instagram"></i></a>
					<a href="{{ site.data.footer.footer.link_fb }}"><i class="fab fa-facebook-square"></i></a>
					<a href="{{ site.data.footer.footer.link_pin }}"><i class="fab fa-pinterest"></i></a>
				</p>				
			</div>
		</div>
	</div>
	<div class="second-section">
		<div class="container">
			<div class="copyrights">
				<p> {{site.data.footer.footer.disclaimer}} </p>				
				<p> {{site.data.footer.footer.copyrights}} </p>
			</div>
		</div>
	</div>
</footer>