<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="IE-edge, chrome=1" http-equiv="X-UA-Compatable">
<meta name="description" content="{{site.description}}">
<meta property="og:image" content="https://i.ibb.co/C0Mt4M9/received-350257699248489.png" />
<meta property="og:image:width" content=”180″ />
<meta property="og:image:height" content=”110″ />
<meta name="google-site-verification" content="J4ihv7xZYQLIj0gJurCG11N6_2nogySBGJq5l4o3Zmw" />
<title>{{site.title}}</title>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{site.url}}/assets/css/modal.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
<link rel='shortcut icon' type='image/x-icon' href="{{site.url}}/favicon.ico" />
<link rel="stylesheet" href="https://www.jqueryscript.net/demo/Simple-Responsive-Youtube-Video-Modal-Plugin-With-jQuery-YU2FVL/src/jquery.yu2fvl.css">
<link rel="stylesheet" href="https://github.hubspot.com/odometer/themes/odometer-theme-car.css">
<script src="https://kit.fontawesome.com/c19111320a.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/scrollReveal.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--><script>document.documentElement.className = 'js';</script>
<script>ScrollReveal({ duration: 3000 })</script>

