<script type="text/javascript" src="{{site.url}}/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<!-- <script type="text/javascript" src="https://www.jqueryscript.net/demo/Simple-Responsive-Youtube-Video-Modal-Plugin-With-jQuery-YU2FVL/src/jquery.yu2fvl.js"></script>
 --><script src="https://cdn.jsdelivr.net/npm/clamp-js@0.7.0/clamp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/articles.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/search.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/functions.js"></script>