<div class="navigation-menu">
    <button class="btn-toggle" id="menu-toggle">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
  <div class="logo">
    <h2>Logo</h2>
  </div>
</div>
  <nav>
  	<ul class="ul-nav">
      <li class="logo-mark">
            <div class="mark"><h2> <a href="/"> Aussie <br> Money Man </a></h2></div>    
      </li>
      <li>
         <ul class="sub-ul-container">
         <li><a href="/">Home</a></li>
         <li class="sub-li">
            <a href="#">About</a>
             <div class="link-holder">
                <a href="/about-us">About AMM</a>
                <a href="/about">About Nicholas</a>
                <a href="/faq">FAQ</a>
             </div>
         </li>
         <li><a href="/articles">Articles</a></li>
         <li><a href="/books">Ebooks</a></li>
         <li><a href="/services">Services</a></li>     
         <li><a href="/recommendations">recommendations</a></li>
         <li class="sub-li">
            <a href="#">Other</a>
             <div class="link-holder">
                <a href="/policy">Terms & Policies</a>
                <a href="/contact">Contact Us</a>
             </div>
         </li>
       </ul>
      </li>
  	</ul>	
</nav>