  <script type="text/x-template" id="search-result">
		<a href="##Url##" class="card-link">
			<div class="card">
			  <div class="card-img-top" style='background:url("{{site.url}}/##featImg##");' alt="Blog image cap"></div>
			  <div class="card-block">
			    <div class="category-title category">##categories##</div>
			    <h3 class="card-title">##Title##</h3>
			  </div>
			</div>
		</a>
  </script>


  	<div style="/*position: absolute;top:0;bottom: 0;left:0;right:0;width:100%;height:100%; background:#FFF;*/ " class="search-container">
		<div class="search-wrap">
		</div>
		   <section class="card-holder search-res">
		   
		   <div class="search-cont">
		  <p data-search-found>
		   <span data-search-found-count></span> result(s) found for &ldquo;
		   <span data-search-found-term></span>&rdquo;.</p>
			<i class="fas fa-times close-search-i"></i>

		   			<div data-search-results class="s-content">
		   				
		   			</div>
		   		</div>
		   </section>
	</div>