.about-nav{
	.ul-nav{
		background:#FFF;
		*{
			color:#000 !important;
		}
	}
}

.header-about-us{
 background: linear-gradient(to left, rgba(241,231,103,1) 0%, darken(rgba(247,208,87,1), 4%) 46%, darken(rgba(254,182,69,1), 10%) 100%);
   .content{
   	display: flex;
   }
   .blurp{
 		flex-basis: 60%;  	
   	    display: flex;
	    flex-direction: column;
	    margin-top: 6%;
   }
   .illustration{
	 margin-top:4%;
   	 img{
   	 	width:100%;
   	 	height: 100%;
   	 }
   }
	h1{
		font-size:3.5em !important;
		span{color:#000 !important; cursor: default;}
		.underline:before{
			background: $wc; 
		}
	}
	p{
		color:#000000ad !important;
		width:500px;
		font-size: 1.5em;
	}
}

.about-us-info{
	text-align: center;
	margin-top:0;
	.our-mission{
	    display: flex;
	    margin-top: 80px;
	    justify-content: space-around;		
		.pic{
			img{
				width:400px;
				height:400px;
			}
		}
		.paragraph{
			 text-align: left;
			 box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
			 flex-basis: 40%;
			 margin-top:4%;
			 padding:30px;
			 border-radius:14px;
			p{
			    font-size: 1.2em;
			    line-height: 1.8;
				color:#696565;
			}
		}
	}
	.our-mission:nth-child(3){
		flex-direction: column;
	}
	.our-mission:last-child{
		.pic{
			img{
				width: 746px;
			    transform: scale(.7);
			    height: 400px;
			}
		}
	}
}



@media screen and (max-width: 990px){
	.illustration{
		display: none;
	}
	.blurp{
		flex-basis: 100% !important;
		align-items: center;
	}
	.our-mission{
		flex-direction: column;
		.pic{
			margin-top:10%;
		}
	}
	.our-mission:nth-child(2){
		.pic{
			order:1;
		}
	}

	.our-mission:nth-child(3){
		.pic{
			img{
				transform:scale(1);
				width:100% !important;
			}
		}
	}

}


@media screen and (max-width: 760px){
	.header-about-us{
		padding-top: 15%
	}
	.blurp{
		padding-left:20px;
		padding-right:20px;
		h1{
		    font-size: 2.4em !important;
		}
		p{
		    color: #000000ad !important;
		    width: 280px !important;
		    font-size: 1.6em;
		}
	}
}

@media screen and (max-width: 450px){
	.our-mission{
		img{
			width:100% !important;
		}
	}
}




























