@import 'index';
@import 'about';
@import 'about-us';
@import 'articles';
@import 'blog';
@import 'faq';
@import 'services';
@import 'contact';
@import 'policy';
@import 'rec';
@import 'books';
@import 'responsive';
