header {
	background:url('../img/header/bg-3.jpg') no-repeat;
	background-size:cover;
	background-attachment: fixed;
	height: 100vh;
	width:100%;
	position: relative;
	z-index: 9999;
	.typed-cursor {
		font-size:1.1em;
	}
	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		height:100%;
		z-index: -1;
		background:rgba(0, 0, 0, .8);
	}

	* {
		color:$wc
	}

	button{
		color:$bc;
	}
	.content-holder{
		margin-top:5%;
		display: flex;
		justify-content: center;
		.text-holder{
			flex-basis: 70%;
			text-align: center;
			h1{
				font-size:3.2em;
				font-weight: bold;
			}
			p{
				font-size:1.1em;
				color:$textc;
				margin-bottom:30px;
			}
			button{
			    outline: none;
			    border: none;
			    cursor:pointer;
			}
			.video-play-button {
			  position: relative;
			  z-index: 10;
			  box-sizing: content-box;
			  display: block;
			  width: 32px;
			  height: 44px;
			  margin: 40px auto 20px auto;
			  border-radius: 50%;
			  padding: 18px 20px 18px 28px;
			  box-shadow: 0 0px 30px rgba(255, 175, 21, 0.5);
			  &:before {
			    content: "";
			    position: absolute;
			    z-index: 0;
			    left: 50%;
			    top: 50%;
			    transform: translateX(-50%) translateY(-50%);
			    display: block;
			    width: 80px;
			    height: 80px;
			    background: rgba(#ffaf15, 0.65);
			    border-radius: 50%;
			    animation: pulse-border 1500ms ease-out infinite;
			  }
			  &:after {
			    content: "";
			    position: absolute;
			    z-index: 1;
			    left: 50%;
			    top: 50%;
			    transform: translateX(-50%) translateY(-50%);
			    display: block;
			    width: 80px;
			    height: 80px;
			    background: white;
			    border-radius: 50%;
			    transition: all 200ms;
			    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
			  }
			  &:hover {
			    &:after {
			      background: #ffaf15;
			      transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
			    }
			    span {
			      border-left: 32px solid white;
			    }
			  }
			  img {
			    position: relative;
			    z-index: 3;
			    max-width: 100%;
			    width: auto;
			    height: auto;
			  }
			  span {
			    display: block;
			    position: relative;
			    z-index: 3;
			    width: 0;
			    height: 0;
			    transform: scale(0.8);
			    border-left: 32px solid #ffaf15;
			    border-top: 22px solid transparent;
			    border-bottom: 22px solid transparent;
			    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
			  }
			}

			@keyframes pulse-border {
			  0% {
			    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
			    opacity: 1;
			  }

			  100% {
			    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
			    opacity: 0;
			  }
			}

		}
		.watch-holder{
			text-align: right;			
			flex-basis: 30%;
		}
	}
}

/* About Section */

.about-me{
	background:#D2D4D6;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	margin-top:0 !important;
	.about-holder{
		display:flex;
		padding:20px;
		padding-bottom:0;
		justify-content: space-between;
		.pic-holder{
			position: relative;
			
			.shape-img-1{
			    background: $accent;
			    width: 401px;
			    height: 100px;
			    position: absolute;
			    left: -53px;
			    z-index: -1;
			    top: 119px;
			}
			.shape-img-2{
			    position: absolute;
			    bottom: 58px;
			    right: -43px;
			    background: #F9CA24;
			    width: 100px;
			    height: 100px;
			    opacity: 0.8;
			}
		    flex-basis: 82%;
		    margin-right: 0%;
			img{
				width: 115%;
				height: 100%;
			}
		}
		.about-text-holder{
			padding:20px;
			margin-left:5%;
			flex-basis: 86%;
			.info-1{
			.text-info{
				margin-left:20px;
				h2{
					font-size:2.5em;
					font-family: lato;
					font-weight: 400;
					padding-top:10px;
					padding-bottom:10px;
					margin:0;
				}
				.upper-title{
					font-size: 1.4em;
					color:#000;	
				}
			}
			p.sub-p{
				font-size:16px;
				font-family: lato;
				font-weight: 700;
				color:$textColor;
			}
			ul{
				list-style: circle;
				line-height:1.7;

				li span{
					font-size:1.4em;
				}
				li p{
					color:$textColor;
					font-size:1em;
				}
			}
			
		}
		}
	}
}

/*  Our Values Sections  */

.values{
		text-align: center;
		.info-1{
			.text-info{
				margin-left:20px;
				h2{
					font-size:2.5em;
					font-family: lato;
					font-weight: 400;
					padding-top:10px;
					padding-bottom:10px;
					margin:0;
				}
				.upper-title{
					font-size: 1.4em;
					color:$accent;	
				}
			}
			p.sub-p{
				font-size:16px;
				font-family: lato;
				font-weight: 700;
				color:$textColor;
			}
			ul{

				display:flex;
				li{
					transform-style: preserve-3d;
					display: flex;
					flex-basis: 50%;
					box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
					margin:10px;
					padding:15px;
					flex-direction: column;
					text-align: center;
					border:1px solid #FFF;
					border-radius: 10px;
					transition:.6s background;
					&:hover{
						background:$accent;
						color:#FFF;
					}
				 	&:hover div > p{
						color:#FFF;
				 	}
					i{
						transform: translateZ(20px);	
						line-height: 1.3;
						&:before{					
							font-size:40px;
						}
					}
					.sub-info{
						flex-basis: 90%;

						span{

							font-family: lato;
							font-weight: 700;
							font-size:1.2em;

						}
						p{
							margin-top:10px;
							font-size:16px;
							font-weight: normal;
							font-family: lato;
							color:$textColor;
						}
					}
				}
				.icon-money{
					color:#000
				}
				.icon-global{
					color:#000
				}
				.icon-info{
					color:#000
				}
				.icon-bank{
					color:#000
				}			
			}
		}
}



/* Showcase Section */

.showcase{
	.showcase-text{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 50%;
		h1{
			margin:0;
			padding:0;
		}
		p{
			color:$textColor;
			font-size:1.1em;
		}
		p.first{
    		margin: 20px 0 0 0 !important;
    	}
		p:last-child{
			margin:0 ;
			padding: 0
		}	
	}
	.item-all{
		display: flex;
		flex-direction: column;
		.item-set-1, .item-set-2{
			margin-top:5%;
			display: flex;
			.item{
				text-align: center;
				align-items:center;
				flex-basis:33.33%;
				padding:30px;
				transition:.5s;
				&:hover{
					background:$accent;
					transform:scale(1.1);
					color:#FFF;
					cursor: pointer;
				}
				&:hover *{
					color:#FFF;
				}
				&:active{
					transform: scale(1);
				}
				h3{
					font-size:1.6em;
				}
				i{
					color:darken($accent, 10%);
					font-size:3em;
				}
				p{
					font-size:1.2em;
					text-align:center;
					margin:0 auto;
					padding-left:40px;
					padding-right:40px;
					color:$textColor;
				}
				display: flex;
				flex-direction: column;
			}
		}
		.item-set-2{
				margin-top:0%;
		}
	}
}


/* Stats Section */

.stats{
	height: 450px;
	background:url('../img/about/2.jpg');
	background-size:cover;
	background-attachment: fixed;
	position: relative;

	.overlay-stats{
		width:100%;
		height: 100%;
		background:rgba(249, 202, 36, .8);
		position: absolute;
		top:0;
		// z-index: -1;
	}
	> *{
		color:$wc;
	}
	p{
		color:$wc;
	}
	.stats-holder{
		display: flex;
	    margin-top: 5%;
	}
	.stats-numbers{
		margin-top:4%;
		display: flex;
		flex-basis: 60%;
		h1{
			font-size:6em;
			margin:0;
		}
		
		.stats-n-1{
			margin-right:15%;
		}
	}
	.stats-info{
		margin-top:1%; 
		h3{
			font-size:2.5em;
			margin:0;
		}
		button{
			outline:none;
			border:none;
			cursor:pointer;
			background:#FFF;
			border-radius:50px;
			font-size: 1.2em;
			padding:20px;
			margin-top: 10%;
			transition:.3s;
			&:hover{
				transform: scale(1.04);
			}
			&:active{
				transform: scale(1);
			}
		}
	}
}

/* Media Section */

.media{
	background:#000;
	color:#FFF;
	margin-top:0;
	margin-bottom: 0;
	padding-top:0;
	.media-outlets{
		display:flex;
		flex-direction: column;
		text-align: center;
		.headtitle{
			position: relative;
			z-index: 9;
			&:after{
				content:' ';
				width:42%;
				left:0;
				height:3px;
				background:#FFF;
				position: absolute;
				top:50%;
				z-index: 1;
			}
			&:before{
				content:' ';
				width:42%;
				right:0;
				height:3px;
				background:#FFF;
				position: absolute;
				top:50%;
				z-index: 1;
			}
		}
		.media-1, .media-2{
			margin-top:4%;
			flex-basis: 100%;
			display: flex;

			justify-content: space-between;
			img{
			    width: 100px;
    			height: 100px;
				transition:.3s;
				cursor: pointer;
				filter: grayscale(100%);
			}
		}
		.media-1{
			img:nth-child(4){
				width: 150px !important;
			    height: 79px !important;
		        margin-top: 1%;
			}
			img:nth-child(5){
				width: 96px !important;
		    	margin-top: 1.7%;
			    height: 66px !important;
			}
		}
		.media-2{
			img:nth-child(1){
			    height: 62px !important;
			    width: 132px !important;
			    margin-top: 2%;
			}
			img:nth-child(2){
			    height: 62px !important;
			    width: 267px !important;
			    margin-top: 2%;
			}
			img:nth-child(4){
			    width: 138px !important;
			    height: 61px !important;
			    margin-top: 2%;
			}

			img:nth-child(4){
    			width: 121px !important;
    			height: 77px !important;
    			margin-top: 2%;
			}
			img:nth-child(5){
			    width: 140px !important;
    			height: 77px !important;
    			margin-top: 2%;
			}
		}
	}

	img:nth-child(3){
		width: 115px !important;
	    height: 37px !important;
	    margin-top: 3% !important;
	}
	img:nth-child(2){
		height: 70px !important;
		margin-top:1%;
	}

}

/* Testimonials Section */

.testimonials{
	padding-left:30px;
	padding-right: 30px;
	text-align: center;
	> p {color:$textColor;}
}
.timeline {
	position: relative;
	padding: 30px 0 50px 0;
	font-family: 'Gorditas', Arial, sans-serif;
}

.timeline:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	left: 165px;
	border-left: 2px solid $accent;
}

.event {
	position: relative;
	margin-bottom: 80px;
	padding-right: 40px;
}

.thumb {
	position: absolute;
	width: 100px;
	height: 100px;
	box-shadow: 
		0 0 0 8px $accent, 
		0 1px 1px $accent;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-transform: scale(0.8) translateX(24px);
	-moz-transform: scale(0.8) translateX(24px);
	-o-transform: scale(0.8) translateX(24px);
	-ms-transform: scale(0.8) translateX(24px);
	transform: scale(0.8) translateX(24px);
}

.thumb:before {
	content: '';
	position: absolute;
	height: 8px;
	z-index: -1;
	border-top:2px solid $accent;
	width: 51px;
	top: 42px;
	left: 100%;
	margin-left: 8px;
}

.thumb span {
	color: $accent; 
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	position: absolute;
	bottom: -30px;
}



/* Transparent Checkbox/radio hack: leave the checkbox on top, hide it with opacity 0 */

.event label,
.event input[type="radio"] {
	width: 24px;
	height: 24px;
	left: 158px;
	top: 36px;
	position: absolute;
	display: block;
}

.event input[type="radio"] {
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}

.event label:after {
	font-family: 'fontawesome-selected';
	content: '\2714';
	background: $accent;
	border-radius: 50%;
	color: $accent;
	font-size: 20px;
	height: 100%;
	width: 100%;
	left: -2px;
	top: -3px;
	line-height: 24px;
	position: absolute;
	text-align: center;
}

.content-perspective {
	margin-left: 230px;
	position: relative;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	-ms-perspective: 600px;
	perspective: 600px;
}

.content-perspective:before {
	content: '';
	left: -51px;
	top: 42px;
	position: absolute;
	height: 2px;
	z-index: -1;
	background: #fff;
}

.content {
	cursor:pointer;
	-webkit-transform: rotateY(10deg);
	-moz-transform: rotateY(10deg);
	-o-transform: rotateY(10deg);
	-ms-transform: rotateY(10deg);
	transform: rotateY(10deg);

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.content-inner {
	position: relative;
	padding: 20px;
	// border-radius: 15px;
	color: #333;
	border: none;
	border-left: 5px solid $accent;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	background: #fff;
}

.content-inner h3 {
	font-size: 26px;
	padding: 5px 0 5px 0;
	color: $accent;
}

.content-inner p {
	font-size: 18px;
	max-height: 0px;
	padding-top:15px;
	overflow: hidden;
	color: transparent;
	color: rgba(0,0,0,0);
	text-align: left;
}

.content-inner:before {
	font-family: 'fontawesome-selected';
	content: '\25c2';
	font-weight: normal;
	font-size: 54px;
	line-height: 54px;
	position: absolute;
	width: 30px;
	height: 30px;
	color: $accent;
	left: -22px;
	top: 19px;
	z-index: -1;
}

/* Transitions */

.thumb,
.thumb span,
.content-inner h3 {
	-webkit-transition: all 0.6s ease-in-out 0.2s;
	-moz-transition: all 0.6s ease-in-out 0.2s;
	-o-transition: all 0.6s ease-in-out 0.2s;
	-ms-transition: all 0.6s ease-in-out 0.2s;
	transition: all 0.6s ease-in-out 0.2s;
}

.content-inner {
	-webkit-transition: box-shadow 0.8s linear 0.2s;
	-moz-transition: box-shadow 0.8s linear 0.2s;
	-o-transition: box-shadow 0.8s linear  0.2s;
	-ms-transition: box-shadow 0.8s linear 0.2s;
	transition: box-shadow 0.8s linear 0.2s;
}

.content {
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
	-moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
	-o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
	-ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
	transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
}

.content-inner p {
	-webkit-transition: max-height 0.5s linear, color 0.3s linear;
	-moz-transition: max-height 0.5s linear, color 0.3s linear;
	-o-transition: max-height 0.5s linear, color 0.3s linear;
	-ms-transition: max-height 0.5s linear, color 0.3s linear;
	transition: max-height 0.5s linear, color 0.3s linear;
}

/* Checked */

.event input[type="radio"]:checked + label:after {
	content: '\2714';
	color: #FFF;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.event input[type="radio"]:checked ~ .content-perspective:before {
	background: $accent;
	height: 2px;
	width:50px;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
	color: $accent;
}

.event input[type="radio"]:checked ~ .content-perspective .content {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-o-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner {
	border-color: $accent;
	box-shadow: 20px 0px 20px -6px rgba(0, 0, 0, 0.1);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
	max-height: 260px; /* Add media queries */
	color: rgba(0,0,0,0.6);
	-webkit-transition-delay: 0s, 0.6s;
	-moz-transition-delay: 0s, 0.6s;
	-o-transition-delay: 0s, 0.6s;
	-ms-transition-delay: 0s, 0.6s;
	transition-delay: 0s, 0.6s;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
	color: $accent;
}

.event input[type="radio"]:checked ~ .thumb {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	box-shadow: 
		0 0 0 8px $accent, 
		0 1px 1px rgba(255,255,255,0.5);
}

.event input[type="radio"]:checked ~ .thumb span {
	color: $accent;
}

.event input[type="radio"]:checked ~ .thumb:before {
}

.content-inner p,
.thumb span,
.event label {
	-webkit-backface-visibility: hidden;
}

@media screen and (max-width: 850px) { 
	.content-inner h3 {
		font-size: 20px;
	}

	.content-inner p {
		font-size: 14px;
		text-align: justify;
	}

	.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
		max-height: 500px; 
	}
}

@media screen and (max-width: 630px) {
	.showcase-heading{
		h1{
			font-size:2em !important;
		}
	}
	.timeline::before {
		left: 50px;
	}

	.event { 
		padding-right: 0px;
		margin-bottom: 100px;
	}


	.thumb {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	.event input[type="radio"] {
		width: 100px;
		height: 100px;
		left: 0px;
		top: 0px;
	}

	.thumb:before,
	.event input[type="radio"]:checked ~ .thumb:before {
		background: none;
		width: 0;
	}

	.event label {
		display: none;
	}

	.content-perspective {
		margin-left: 0px; 
		top: 80px;
	}

	.content-perspective:before {
		height: 0px; 
	}

	.content {
		// -webkit-transform: rotateX(-10deg);
		// -moz-transform: rotateX(-10deg);
		// -o-transform: rotateX(-10deg);
		// -ms-transform: rotateX(-10deg);
		// transform: rotateX(-10deg);
	}

	.event input[type="radio"]:checked ~ .content-perspective .content {
		-webkit-transform: rotateX(10deg);
		-moz-transform: rotateX(10deg);
		-o-transform: rotateX(10deg);
		-ms-transform: rotateX(10deg);
		transform: rotateX(10deg);
	}

	.content-inner {
		border-left: none;
		border-top: 5px solid $accent;
	}

	.event input[type="radio"]:checked ~ .content-perspective .content-inner {
		border-color: $accent;
		box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
	}

	.content-inner:before {
		content: '\25b4';
		left: 33px;
		top: -32px;
	}

	.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
		max-height: 300px; 
	}
}

@media screen and (max-width: 500px){
	.stats{
		height: auto !important;
		.stats-info{
			text-align: center;
		}
	}
	.showcase-heading{
		h1{font-size:1.8em !important}
	}
	.showcase-text{
		p{font-size:1.1em !important;}
	}
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}