.rec-header{
	height: 530px;
	background: url('../img/rec/01.jpg') no-repeat;
	background-size:cover;
	background-attachment: fixed;
	.overlay{
		background: rgba(0, 0, 0, 0.6);		
	}
	.rec-holder{
		display: flex;
		margin-top:5%;
		justify-content: center;
	}
	.rec-text{
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-basis: 57%;
		h1{
		    font-size: 3.5em;
		}
		p{
		    font-size: 1.5em;
		    margin:0;
			a{color:skyblue;}
		}
	}
}


		.info-2{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top:10%;

			h1{
				text-align: center;
				margin-bottom:10%;
			}
			p{
				font-size:16px;
				color:$textColor;				
			}
			a{
				text-decoration: underline;
			}
			ol{
				line-height: 1.9;
				li{
					width:500px;
					padding:10px;
					margin-top:10px;
					font-size:1.9em;
					border-left:5px solid $accent;
					// temp											
					box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);					
					span{
						font-size:18px;												
					}
					p{
						font-size:16px;						
					}
					// temp:													
				    position: relative;
				    &:before{
				      content: '';
				      position: absolute;
				      z-index: -1;
				      left: 0;
				      top: 70%;
				      transform: translateY(-70%);
				      height: 100%;
				      width: 0%;
				      background: $accent;
				      background-repeat: no-repeat;
				      opacity: 1;
				      transition: all .3s;          
				    }
					transition: 1s;
					&:hover{
						// background:$accent;
						// color:#000;	
						&:before{
							width: 100%;
						}
						span{
							color:#000;
						}
						p{
							color:#000;
						}

					}
				}
				margin-bottom:20px;
			}
}

@media screen and (max-width: 590px){
	.rec-holder{
		li{
			width:86% !important;
			margin:0 auto;
		}
	}	
}